.DaySelectWrapper {
  margin-top: 20px;
  min-height: 80px;
  display: flex;
  gap: 4px;
}

.DaySelectWrapper button {
  flex: 2;
  border: none;
  background: none;
  border-right: 1px solid black;
  font-weight: bold;
  font-family: inherit;
}

.DaySelectWrapper button:last-child {
  border: none;
}

.DaySelectWrapper button:hover {
  background-color: #eee;
}

.newgoals {
  font-size: 30px;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}

.TopicButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}

.TopicImg {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 64px;
  height: 64px;
  background-color: #fff;
  border-radius: 100%;

  overflow: hidden;
}

.TopicText {
}

.TopicGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}
